body {
    background-color: #f6eec5;
    margin: 0;
}
form {
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
}
input, textarea {
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
input[type="submit"] {
    background-color: #3a87df;
    font-size: 18px;
    color: white;
}

div.content{
    margin-top: 20px;
    margin-left: 20px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav {
    background-color: #1751e3;
    padding: 5px;
}
